body{
    margin:0px;
}
div div{
    height:500px;
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: didiv 5s infinite;
}
@keyframes didiv {
    0%{
        background-color: hsla(0,0%,100%,0);
        filter:blur(2px) ;
    }

    50%{

        filter:blur(0px) ;
    }
    100%{
        background-color: hsla(0,0%,100%,0);
        filter:blur(2px) ;
    }
}
div p{
    width:100%;
    position: absolute;
    font-size:40px;
    top: 200px;
    text-align: center;
}
#one{
    color: #000;
    animation:onee 60s forwards  linear;
}
#two{
    color:#6cf;
    animation:twoe 60s forwards  linear;
}
#three{
    color:#5922cc;
    animation:threee 60s forwards  linear;
}
#four{
    color:#55ffff;
    animation:foure 60s forwards  linear;
}
#five{
    color: #95c;
    animation:fivee 60s forwards  linear;
}
#six{
    color: #35c;
    animation:sixe 60s forwards  linear;
}
#seven{
    color: #65c;
    animation:sevene 60s forwards  linear;
}
#eight{
    color: #b5c;
    animation:eighte 60s forwards  linear;
}
#nine{
    color: #d5c;
    animation:ninee 60s   linear;
}
@keyframes onee {
    0%{
        opacity:0;
    }
    5%{
        opacity:100;
    }
    15%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes twoe {
    0%{
        opacity:0;
    }
    10%{
        opacity:0;
    }
    15%{
        opacity:100;
    }
    25%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes threee {
    0%{
        opacity:0;
    }
    20%{
        opacity:0;
    }
    25%{
        opacity:100;
    }
    35%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes foure {
    0%{
        opacity:0;
    }
    30%{
        opacity:0;
    }
    35%{
        opacity:100;
    }
    45%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes fivee {
    0%{
        opacity:0;
    }
    40%{
        opacity:0;
    }
    45%{
        opacity:100;
    }
    55%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes sixe {
    0%{
        opacity:0;
    }
    50%{
        opacity:0;
    }
    55%{
        opacity:100;
    }
    65%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes sevene {
    0%{
        opacity:0;
    }
    60%{
        opacity:0;
    }
    65%{
        opacity:100;
    }
    75%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes eighte {
    0%{
        opacity:0;
    }
    70%{
        opacity:0;
    }
    75%{
        opacity:100;
    }
    85%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes ninee {
    0%{
        opacity:0;
    }
    80%{
        opacity:0;
    }
    85%{
        opacity:100;
    }
    95%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}