*{
    margin:0px;
    padding:0px;
}
li{
    height:42px;
    text-align: center;
    line-height:42px;
    padding:0px 15px;
    float: left;
    position: relative;
    background-color: hsla(0,0%,100%,0);
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style-type:none;
}
body,#max{
    height:100%;
    width:100%;
}
/*头部*/
header{

}
/*头上*/
#heheader{
    height:42px;
    position: relative;
    z-index:200;
}
#heheli{
    height:100%;
    width:100%;
    background-image: url("../images/0.png");
    filter:blur(4px);
    position: absolute;
    top:0px;
    left:0px;
    background-repeat:no-repeat;
    background-position: center -10px;
    z-index:auto;
}
#heheliyinying{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#heheliul{
    width:1180px;
    margin:0 auto;
    z-index:1;
}
#headerulleft,#headerulright{
    display: inline
}
#headerulleft{
    float: left;
}
#headerulright{
    float: right;
}

.ulleft{

}
.ulleft:hover{
    animation:ulleftt 1.5s ;
    animation-fill-mode: forwards;
}
@keyframes ulleftt {
    from{background-color:#fff;}
    to{background-color: #5ff;}
}
/*头中*/
#hesection{
    background-color: #8c1;
}
/*头后*/
#hefoot{
    height:170px;
    background-image: url("../images/0.png");
    background-repeat:no-repeat;
    background-position: center 0px;
    position: relative;
    margin-top: -42px;
}
/*身体*/
section{
    height:900px;
    background-color: #8ac;
}
#seli{
    margin:0px 60px;
    background: #51a;
}
/*身体上*/
#seheader{
    height:200px;
    width:100%;
    background-color: #fff;
}
/*身体中*/
#sesection{
    height:400px;
    width:100%;
    background: #7c9;
}
/*身体下*/
#sefooter{
    height:300px;
    background: #951;
}
/*脚部*/
footer{
    height:200px;
    background: #a2c;
}